*.py[cod]
__pycache__
# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Translations
*.mo

# Profiling
*.stats

# Screenshots
m*.png
screenshot.png

#emacs backup
*~

#ropemacs
.ropeproject

debug.out
profile.stats_before
